footer.m_footer
  .container-fluid
    .row
      .col-xs-6.col-sm-6.col-md-3
        .copy © 2016 «Gelios Park»<br/>Все права защищены
      .col-xs-6.col-sm-6.col-md-3.visible-xs-block.visible-sm-block
        .socials.pull-right
          a(href="#").vk
          a(href="#").fb
          a(href="http://pikmedia.ru/").developed.pull-right
      .col-xs-12.col-sm-12.col-md-6
        .menu
          .row
            .col-xs-4.col-sm-6
              .title О компании
              ul
                li: a(href="#") О компании
                li: a(href="#") Статьи
                li: a(href="#") Вопрос-ответ
                li: a(href="#") Проекты
                li: a(href="#") Оборудование
                li: a(href="#") Контакты
            .col-xs-8.col-sm-6
              .title Услуги
              ul
                li: a(href="#") Проектирование и строительство бассейнов
                li: a(href="#") Сервисное обслуживание бассейнов
                li: a(href="#") Строительство банных комплексов
                li: a(href="#") Ландшафтный дизайн
      .col-md-3.visible-md-block.visible-lg-block
        .socials.pull-right
          a(href="#").vk
          a(href="#").fb
          a(href="http://pikmedia.ru/").developed.pull-right