header.m_header
  .container-fluid
    .row
      .col-xs-6.col-sm-6.col-md-5.col-lg-4
        .menu-trigger
          span
          span
          span
        .logo
          a(href="/")
      .col-xs-6.col-sm-6.col-md-4.col-lg-3
        .v-align-parent
          .consultation.v-align-child
            .title.visible-lg-block Есть вопросы? Мы с радостью вам поможем!
            button(type="button" class="btn btn-sky" data-toggle="modal" data-target="#modal-consultation")
              span.hidden-xs Получите бесплатную консультацию
              span.visible-xs-block Бесплатная консультация
      .col-lg-2.visible-lg-block
        .v-align-parent
          .locate.v-align-child
            .helper
              i.icon-locate
              | Санкт-Петербург,<br/> ул. Композиторов, д.5
      .col-md-3.col-lg-3.hidden-sm.hidden-xs
        .v-align-parent
          .contacts.text-right.v-align-child
            .tel
              i.icon-tel
              | +7 (812) 313 55 75
            .email: a(href="mailto:pool@geliospark.com") pool@geliospark.com