nav.m_main-nav
  .container-fluid
    ul(class="nav nav-pills")
      li
        a(href="#")
          span.title
            | О компании
            span.line
      li
        a(href="#")
          span.title
            | Услуги
            span.line
      li
        a(href="#")
          span.title
            | Проекты
            span.line
      li
        a(href="#")
          span.title
            | Оборудование
            span.line
      li
        a(href="#")
          span.title
            | Контакты
            span.line
      li
        a(href="#")
          span.title
            | Статьи
            span.line
      li
        a(href="#")
          span.title
            | Вопрос-ответ
            span.line
    .mobile-contacts.visible-xs-block
      .v-align-parent
        .contacts.v-align-child
          .tel
            i.icon-tel
            | +7 (812) 313 55 75
          .email: a(href="mailto:pool@geliospark.com") pool@geliospark.com
      .v-align-parent.text-right
        .locate.v-align-child.text-left
          i.icon-locate
          | Санкт-Петербург,<br/> ул. Композиторов, д.5
