doctype html
html
  head
    title Проектирование и строительство бассейнов
    include modules/head.jade
  body
    //- Layout bg
    .layout
    //- Modals
    include modules/modals.jade
    //- Header
    include modules/header.jade
    //- Menu
    include modules/m_main-nav-current.jade
    //- Breadcrumbs
    .m_breadcrumbs
      .container-fluid
        .row
          .col-xs-12
            ul.normal.hidden-xs
              li: a(href="#") Главная
              li: span Проектирование и строительство бассейнов
            ul.mobile.visible-xs
              li: a(href="#") Проектирование и строительство бассейнов
    //- MAIN PAGE WRAPPER
    .main
      .container-fluid
        .row
          .col-xs-12.col-sm-12.col-lg-9
            .m_content
              .headling
                h2 Проектирование и строительство бассейнов
              .m_product
                ul#imageGallery
                  li(data-thumb="../images/content/build/1.jpg" data-src="../images/content/build/1.jpg")
                    img(src="../images/content/build/1.jpg")
                  li(data-thumb="../images/content/build/2.jpg" data-src="../images/content/build/2.jpg")
                    img(src="../images/content/build/2.jpg")
                  li(data-thumb="../images/content/build/3.jpg" data-src="../images/content/build/3.jpg")
                    img(src="../images/content/build/3.jpg")
                  li(data-thumb="../images/content/build/4.jpg" data-src="../images/content/build/4.jpg")
                    img(src="../images/content/build/4.jpg")
                  li(data-thumb="../images/content/build/5.jpg" data-src="../images/content/build/5.jpg")
                    img(src="../images/content/build/5.jpg")
                  li(data-thumb="../images/content/build/6.jpg" data-src="../images/content/build/6.jpg")
                    img(src="../images/content/build/6.jpg")
                  li(data-thumb="../images/content/build/7.jpg" data-src="../images/content/build/7.jpg")
                    img(src="../images/content/build/7.jpg")
                  li(data-thumb="../images/content/build/8.jpg" data-src="../images/content/build/8.jpg")
                    img(src="../images/content/build/8.jpg")
                  li(data-thumb="../images/content/build/9.jpg" data-src="../images/content/build/9.jpg")
                    img(src="../images/content/build/9.jpg")
              article
                p Также мы уделяем пристальное внимание особенностям участка и строений, чтобы ваш бассейн был  гармонично вписан в окружающий ландшафт.
                p.large У нас вы можете выбрать несколько видов технологических решений строительства бассейна:
                ul
                  li: a(href="#") Бетонные бассейны
                  li: a(href="#") Сборно-разборные  бассейны
                  li: a(href="#") Композитные бассейны
                  li: a(href="#") Бассейны из нержавеющей стали
                  li: a(href="#") Деревянные бассейны
                p <b>Бассейны</b> – сложное гидротехническое сооружение. Во время использования бассейна, постоянно происходят процессы рециркуляции, фильтрации и обеззараживания воды. Поэтому мы уделяем серьезное внимание этапу проектирования бассейнов, чтобы бассейн был не только удобным, но и отвечал всем требованиям безопасности
                h3 Виды бассейнов:
                ul
                  li
                    h4.medium Бетонные бассейны
                    p Бетонные бассейны можно построить любых размеров и форм. Бетонные бассейны могут быть круглыми, прямоугольными, в виде восьмерки. В общем, мы можем построить бассейн на любой вкус. Уникальность бассейна можно подчеркнуть различными вариантами облицовки. Можно использовать пленку ПВХ, мозаику, керамическую плитку.

                  li
                    h4.medium Композитные бассейны
                    p Композитные (или полипропиленовые) бассейны, не так давно появились на рынке. Композитный  бассейн – достойные конкурент бетонного бассейна. Мы предлагаем широкий выбор моделей и цветовых решений таких бассейнов. Композитные бассейны перевозятся в готовом виде, что иногда затрудняет их установку в существующие помещения. Также важно знать, что основанием для композитных бассейнов используется бетон.
                  li
                    h4.medium Сборно-разборные  бассейны
                    p Сборно-разборные  бассейны состоят из стального листа. Внутри чаша декорируется пленкой ПВХ. Такой вариант бассейна является самым экономичным и быстрым в установке.

                p.large Также мы предлагаем строительство бассейнов, закрытых  павильонами: В чем преимущество закрытых бассейнов?
                ul
                  li Снижение тепловых потерь воды и воздуха, что снижает расход электроэнергии на обогрев бассейна
                  li Повышение качества воды в бассейне, т. к. павильон защищает воду от атмосферных загрязнений (листьев, дождя, пыли и т. д.)
                  li Экономия хим. средств, для поддержания качества воды достигает 50%
                  li Повышается безопасность бассейна для маленьких детей и домашних питомцев
                  li Возможность купаться и отдыхать 12 месяцев в году.
                p.large Пришлите нам свои пожелания. Мы проконсультируем вас и подготовим бесплатную смету на строительство бассейна по вашим пожеланиям.


          .col-xs-12.visible-lg.col-lg-3
            .m_sidebar
              .m_graphic-border
                .border
                  .wrap
                    .small-title Бесплатная брошюра
                    .title: a(href="#") 7 советов<br>при строительстве<br>бассейна
                    button(type="button" class="btn button-sky" data-toggle="modal" data-target="#modal-free") Получите бесплатную брошуру
              .m_graphic-border
                .border
                  .wrap
                    .small-title Пришлите запрос
                    .title: a(href="#") На бесплатный<br>расчет стоимости<br>бассейна
                    button(type="button" class="btn button-sky" data-toggle="modal" data-target="#modal-free") Рассчитать стоимость
              .m_graphic-border
                .border
                  .wrap
                    .image(style="background-image:url('../images/content/services/services-3.jpg')")
                      .links
                        .title: a(href="#") Купели для бани
                        a.button-border(href="#") Узнайте больше

    //- Footer
    include modules/footer.jade


    //- JS
    script(src="../scripts/plugins.js")
    script(src="../scripts/app.js")
