.headling
  position relative
  margin-bottom 20px
  padding-bottom 20px
  @media screen and (min-width: 992px)
    margin-bottom 28px
    padding-bottom 28px
  &:after
    content ''
    position absolute
    left 0
    bottom 0
    width 200px
    height 3px
    background $sky
  h2
    fw700()
    font-size 30px
    color #000
    @media screen and (min-width: 992px)
      font-size 36px
  &.white
    &:after
      background #fff
    h2
      color #fff
b, strong
  fw700()
  font-weight normal
article
  padding-bottom 35px
  fw300()
  color $text-gray
  p.large
    font-size 18px
    @media screen and (min-width: 768px)
      font-size 20px
  a
    color $blue
    border-bottom 1px solid $link-border
    &:hover, &:focus
      border-color transparent
  h3
    display inline-block
    margin-bottom 20px
    font-size 20px
  ul
    padding-left 15px
    li
      position relative
      padding 5px 0
      &:before
        content ''
        position absolute
        left -15px
        top 12px
        width 4px
        height 4px
        background #ccc
        border-radius 50%
      h4.medium
        margin-top 0
        font-size 16px
  .full-image
    height 190px
    width 100%
    background-repeat no-repeat
    background-position 50% 50%
    background-size cover


