.icon-tel
  display block
  background url('../images/sprite.png') no-repeat -101px -113px
  width 13px
  height 20px
  position absolute
  left -23px
  top 50%
  margin-top -(@height/2)
.icon-locate
  display block
  background url('../images/sprite.png') no-repeat -76px -113px
  width 16px
  height 20px
  position absolute
  left -20px
  top 50%
  margin-top -20px