.icon-tel
  display block
  background url('../images/sprite.png') no-repeat -101px -113px
  width 13px
  height 20px
  position absolute
  left -23px
  top 50%
  margin-top -(@height/2)
.icon-locate
  display block
  background url('../images/sprite.png') no-repeat -76px -113px
  width 16px
  height 20px
  position absolute
  left -20px
  top 50%
  margin-top -20px
.icon-email
  display block
  background url('../images/sprite.png') no-repeat -245px -113px
  width 20px
  height 14px
  position absolute
  left -30px
  top 50%
  margin-top -(@height/2)
.icon-clock
  display block
  background url('../images/sprite.png') no-repeat -276px -113px
  width 20px
  height 20px
  position absolute
  left -30px
  top 50%
  margin-top -(@height/2)
.m_catalog_menu
  a[class^='icon']
    position relative
    &:after
      content ''
      position absolute
      left 15px
      top 13px
      background-image url("../images/sprite.png")
      background-repeat no-repeat
  .current
    .icon-1:after
      width 20px
      height 12px
      background-position 0 -271px
    .icon-2:after
      width 21px
      height 18px
      background-position -25px -271px
    .icon-3:after
      width 20px
      height 20px
      background-position -51px -271px
    .icon-4:after
      width 20px
      height 18px
      background-position -76px -271px
    .icon-5:after
      width 20px
      height 18px
      background-position -101px -271px
    .icon-6:after
      width 20px
      height 19px
      background-position -126px -271px
    .icon-7:after
      width 15px
      height 19px
      background-position -151px -271px
    .icon-8:after
      width 21px
      height 20px
      background-position -171px -271px
    .icon-9:after
      width 17px
      height 20px
      background-position -197px -271px
    .icon-10:after
      width 19px
      height 20px
      background-position -219px -271px
    .icon-11:after
      width 20px
      height 19px
      background-position -243px -271px
  .icon-1:after
    width 20px
    height 12px
    background-position 0 -240px
  .icon-2:after
    background-position -25px -240px
    width 21px
    height 18px
  .icon-3:after
    width 20px
    height 20px
    background-position -51px -240px
  .icon-4:after
    width 20px
    height 18px
    background-position -76px -240px
  .icon-5:after
    width 20px
    height 18px
    background-position -101px -240px
  .icon-6:after
    width 20px
    height 19px
    background-position -126px -240px
  .icon-7:after
    width 15px
    height 19px
    background-position -151px -240px
  .icon-8:after
    width 21px
    height 20px
    background-position -171px -240px
  .icon-9:after
    width 17px
    height 20px
    background-position -197px -240px
  .icon-10:after
    width 19px
    height 20px
    background-position -219px -240px
  .icon-11:after
    width 20px
    height 19px
    background-position -243px -240px

