.m_cases-inner
  > img
    width 100%
  h3
    fw700()
    font-size 20px
    color #000
    margin-bottom 0
    margin-top 15px
  .lead-paragraph
    fw300()
    color #000000
    font-size 18px
    line-height 28px
    @media screen and (min-width: 568px)
      font-size 20px
      line-height 30px
  #imageGallery,
  .lSPager
    li
      padding 0
  .m_product
    .lslide
      &:before
        display none
    .lSAction
      a
        display block !important
        top 50%
        margin-top -20px
      .lSPrev
        left 0 !important
      .lSNext
        right 0 !important
  .hook-form
    background url("../images/backgrounds/reasons-large.jpg") no-repeat 0 0
    background-size cover
    color #fff
    padding 15px
    text-align center
    margin-bottom 30px
    @media screen and (min-width: 768px)
      padding 30px
      clearfix()
    .text
      fw700()
      margin-bottom 15px
      @media screen and (min-width: 768px)
        float left
        width 50%
        margin-bottom 0
        text-align left
        font-size 24px
        line-height 34px
    .action
      @media screen and (min-width: 768px)
        float right
        width 40%
        text-align left
      a
        @media screen and (min-width: 768px)
          padding 15px 30px
          width 100%
          font-size 18px
          fw500()
          line-height 1
          height auto
      .details
        padding-top 15px
        span
          font-size 14px
          @media screen and (min-width: 768px)
            font-size 15px
        .tel
          fw700()
          font-size 16px
          padding-top 5px
          @media screen and (min-width: 768px)
            font-size 20px
      a
        background $sky
        &:hover
          background $sky - 15%
          border-color $sky - 15%
  .case-items
    background #f5f2eb
    padding 15px
    padding-bottom 0
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(52,51,47,0.3);
    margin-bottom 30px
    @media screen and (min-width: 992px)
      padding 20px
      padding-bottom 0
    .m_product-item
      background #fff
  .details-table
    background #f5f2eb
    border-radius 5px
    box-shadow 0 2px 3px rgba(52, 51, 47, .3)
    margin-bottom 30px
    padding 15px
    @media screen and (min-width: 568px)
      padding 20px
    @media screen and (min-width: 992px)
      padding 30px
    h3
      fw700()
      color #000
      margin-bottom 10px
      margin-top 0
      @media screen and (min-width: 568px)
        margin-bottom 20px
      @media screen and (min-width: 992px)
        font-size 20px
    ul
      padding-left 0
      li
        color #646464
        @media screen and (min-width: 568px)
          display inline-block
          vertical-align top
          width 49%
        @media screen and (min-width: 992px)
          width 32%
          padding 10px 0
        &:before
          display none
        .value
          color #000