.m_content
  @media screen and (min-width: 1200px)
    padding-right 50px
  h4
    fw500()
    display block
    margin-bottom 25px
    margin-top 10px
    color #646464
    font-size 20px
  .contacts-list
    padding-left 30px
    margin-bottom 25px
    li
      position relative
      padding-top 10px
      padding-bottom 10px
      color #646464
      b
        fw700()
        font-weight normal
      .icon-tel
        left -27px
      .icon-locate
        margin-top -10px
        left -28px