/*!=========================
      Base grid styles
==========================*/
html
  position relative
  min-height 100%
body
  fw300()
  font-size base-fz
  line-height base-lh
  color base-color
  background base-bg
  margin-bottom 170px
  @media screen and (min-width: 431px)
    margin-bottom 340px
  @media screen and (min-width: 992px)
    margin-bottom 290px
.main
  position relative
  @media screen and (min-width: 1200px)
    > .container-fluid
      > .row
        > .col-xs-12 + .col-xs-12
          .m_content
            padding-right 0
.m_footer
  position absolute
  bottom 0
  width 100%
  height 140px
  background-color #f5f5f5
  @media screen and (min-width: 431px)
    height 310px
  @media screen and (min-width: 992px)
    height 260px
  @media screen and (max-width: 430px)
    .col-xs-6
      width 100%
      text-align center
    .col-xs-12
      display none
@media screen and (min-width: 1200px)
  .container-fluid
    width 1170px
.layout
  position fixed
  width 100%
  height 100%
  background rgba(0,0,0, .6)
  z-index 10
  transform translateY(200%)
  opacity 0
  transition opacity .35s ease-in
  &.open
    transform translateY(0%)
    opacity 1
.small-hidden
  display none
  @media screen and (min-width: 992px)
    display block
.large-hidden
  display block
  @media screen and (min-width: 992px)
    display none
.v-align-parent
  display table
  table-layout fixed
  height 100%
  width 100%
.v-align-child
  display table-cell
  vertical-align middle
.modal-backdrop.in
  background rgba(0,0,0, .6)
.clearfix
  &:before,
  &:after
    content " "
    display table
  &:after
    clear both
