.m_graphic-border
  padding-left 70px
  @media screen and (min-width: 1200px)
    width 260px
  &.stick
    position fixed
    top 0
    right 50%
    margin-right -566px
  &.abs
    position absolute
    right 0
    margin-right 19px
  .border
    position relative
    padding 60px 0
    border-top 10px solid $blue
    border-bottom 10px solid $blue
    border-right 10px solid $blue
    &:after,
    &:before
      anim()
      content ''
      position absolute
      left 0
      width 10px
      height 40px
      background $blue
    &.hover
      &:after,
      &:before
        height 0
    &:before
      top -1px
    &:after
      bottom -1px
  .wrap
    margin-left -35px
    > button
      width 250px
  .small-title
    fw300()
    margin-bottom 10px
    color $text-gray
    font-size 16px
  .title
    margin-bottom 10px
    a
      anim()
      fw900()
      color $blue
      font-size 30px
      &:hover, &:focus
        color $sky
  .image
    position relative
    display table
    height 250px
    width 100%
    background-repeat no-repeat
    background-position 50% 50%
    background-size cover
    right -10px
    &:after
      content ''
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      background rgba(0,0,0,.5)
    .links
      position relative
      z-index 1
      display table-cell
      vertical-align middle
      padding-left 20px
      a
        color #fff
      .title
        margin-bottom 20px
        a
          font-size 24px
          &:hover, &:focus
            color $sky
      .button-border
        display block
        width 140px
        height 40px
        font-size 14px
        line-height 40px
        padding-left 15px
        padding-right 15px
        &:hover, &:focus
          color $blue
  &.project
    .border
      border-color #ff8a00
      &:before,
      &:after
        background-color #ff8a00
    .title
      a
        font-size 20px
        color #000
        &:hover
          color $blue
    .wrap > button
      background $blue
      border-color $blue
      &:hover
        border-color $sky
        background $sky
    .contacts
      padding-top 10px
      span
        font-size 14px
        color #646464
        padding-bottom 5px
      .tel
        font-size 20px
        fw900()