.m_lead-projects
  gutter()
  background #fff
  .large, .small
    margin-bottom 20px
    @media screen and (min-width: 768px)
      margin-bottom 0
    a
      display block
      width 100%
      background-repeat no-repeat
      background-position 50% 50%
      background-size cover
  .large
    a
      height 360px
  .small
    @media screen and (min-width: 768px)
      margin-bottom 39px
    a
      height 160px
  @media screen and (min-width: 768px)
    .col-sm-4:last-child .col-sm-12:last-child .small
      margin-bottom 0

