.m_lead-projects
  padding $base-mb-small 0
  @media screen and (min-width: 1200px)
    padding $base-mb 0
  .large, .small
    margin-bottom 20px
    a
      display block
      width 100%
      background-repeat no-repeat
      background-position 50% 50%
      background-size cover
  .large
    a
      height 360px
  .small
    @media screen and (min-width: 768px)
      margin-bottom 39px
    a
      height 160px

