.m_news-item
  .date
    fw300()
    margin-bottom 10px
    color $text-gray
    font-size 14px
  .title
    margin-bottom 10px
    a
      fw300()
      color $blue
      border-bottom 1px solid $link-border
      &:hover,
      &:focus
        border-color transparent
  .description
    fw300()
    color $text-gray
