.m_sidebar
  .m_graphic-border
    padding-left 20px
    .border
      padding 40px 0
      &:after,
      &:before
        height 20px
    &.m_graphic-border + .m_graphic-border
      margin-top 25px
